#carouselExample {
  display: none;
  @media (max-width: 768px) {
    & {
      display: block;
      margin: 10px 0;
      height: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.carousel-item img {
  width: 100%; /* Responsive width */
  height: 250px; /* Fixed height for all images */
  object-fit: cover;
}

.gallery {
  padding: 50px 0;
  width: 100%;
  &-images {
    display: flex;
    justify-content: center;
    &-left {
      display: flex;
      flex-direction: column;

      img {
        padding: 10px;
      }
    }
    &-right {
      justify-content: center;
      img {
        padding: 10px;
        gap: 10px 0;
        max-width: 100%;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
